// Primary-Farben
@use "sass:color";
$primary-color: #7890ae; // Primärfarbe
$primary-light-color: color.adjust($primary-color, $lightness: 15%); // Hellere Variante der Primärfarbe
$primary-dark-color: color.adjust($primary-color, $lightness: -15%); // Dunklere Variante der Primärfarbe

// Secondary-Farben
$secondary-color: #004495; // Sekundärfarbe
$secondary-light-color: color.adjust($secondary-color, $lightness: 15%); // Hellere Variante der Sekundärfarbe
$secondary-dark-color: color.adjust($secondary-color, $lightness: -15%); // Dunklere Variante der Sekundärfarbe

// Textfarben
$text-color: #070606; // Allgemeine Textfarbe

// Button-Farben
$button-bg-color: rgba($text-color, 0.8); // Hintergrundfarbe für Buttons
$button-text-color: #fff; // Textfarbe für Buttons
$button-hover-bg-color: rgba($text-color, 1); // Hover-Hintergrundfarbe für Buttons

// Sonstige Farben und Styles
$background-color: #f5f5f5;
$border-color: #ddd;
$card-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Schatten für Karten
$card-radius: 1em; // Karten-Radius
$transition-duration: 0.6s; // Dauer der Übergänge
$gap-small: 20px; // Kleine Abstände
$font-size: 17px; // Standard-Schriftgröße
$card-aspect-ratio: 0.75; // Karten-Seitenverhältnis
